<main>
<h1>简介:</h1>
<p class="text"> 
	AngularJS 是一个 JavaScript 框架。它是一个以 JavaScript 编写的库。
	AngularJS是为了克服HTML在构建应用上的不足而设计的。
	在jQuery中，你首先设计了一个page，然后再去动态修改它的内容，这是因为jQuery被设计用来进行扩展并在这个前提下大幅度地增加和修改内容，但是在angularjs中，你必须在心中先设计好你的架构，从一开始，你就要摒弃“我拥有一个DOM元素并且想让它去做某件事”，代之为“我需要完成什么任务，然后接着设计你的应用，最后再去设计你的视图view层”。（jQuery是操作DOM的，angular是操作数据的）
</p>

<pre>&lt;ul class="zyz"&gt;
  &lt;li&gt;我是第一个&lt;/li&gt;
  &lt;li&gt;我是第二个&lt;/li&gt;
&lt;/ul&gt;</pre>
<code>
	jq:  $('li').eq(0).reomve()
</code>

<a class="next-btn" routerLink="/list">下一步</a>
</main>
