main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  display: block;
}

.text{
	font-size: 1.5rem;
	font-family: 'microsoft yahei';
	padding-left:2rem;
	line-height: 300%;
}
pre{
	color: white;
	font-size: 1.1rem;
}
